<div class="slider">
    {% for key, item in fetch_all('dressing_image_banner') %}
        <input type="radio" name="slides" id="slide{{key}}">
    {% endfor %}

    <div class="slides">
        {% for key, item in fetch_all('dressing_image_banner') %}
            <div class="slide" id="s1">
                <img src="{{item.image_path}}" alt="{{item.alt_text}}">
            </div>
        {% endfor %}
    </div>

    <div class="navigation">
        {% for item in fetch_all('dressing_image_banner') %}
            <label for="slide{{key}}" class="nav-dot"></label>
        {% endfor %}
    </div>
</div>