<div class="carousel">
  <div class="carousel-images" id="carouselImages">
    {% for key, item in fetch_all('dressing_image_banner') %}
    <div class="carousel-slide">
        <img src="{{item.image_path}}" alt="{{item.alt_text}}">
    </div>
    {% endfor %}
  </div>

  <div class="carousel-buttons">
    <button id="prevBtn">&#10094;</button>
    <button id="nextBtn">&#10095;</button>
  </div>

  <div class="carousel-indicators" id="carouselIndicators">
    {% for key, item in fetch_all('dressing_image_banner') %}
        <span></span>
    {% endfor %}
  </div>
</div>